{% extends '::base.html.twig' %}

    
{% block pageheader %}
    <h1>MicroService</h1>
{% endblock %}
    
{% block body -%}
        <ul class="record_actions">
    <li>
        <a href="{{ path('microservice') }}">
            Back to the list
        </a>
    </li>

    <li>
        <a href="{{ path('microservice_edit', { 'id': entity.id }) }}">
            <span class='glyphicon glyphicon-edit'></span>
        </a>
    </li>

    <li>
        <a href="{{ path('microservice_delete', { 'id': entity.id }) }}" class="js-confirm" data-confirm="Are you sure you want to delete this MicroService?">
            <span class='glyphicon glyphicon-remove'></span>
        </a>
    </li>
</ul>

    <table class="record_properties table table-striped table-bordered table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Microservice</th>
                <td>{{ entity.microservice }}</td>
            </tr>
            <tr>
                <th>Started</th>
                <td>{{ entity.started|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Finished</th>
                <td>{{ entity.finished|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Outcome</th>
                <td>{{ entity.outcome }}</td>
            </tr>
            <tr>
                <th>Error</th>
                <td>{{ entity.error }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
