<ONIXPreservationHoldings
    version="0.2"
    xmlns="http://www.editeur.org/onix/serials/SOH">
    <Header>
        <Sender>
            <SenderName>Public Knowledge Project PLN</SenderName>
        </Sender>
        <SentDateTime>{{"now"|date('Ymd')}}</SentDateTime>
        <CompleteFile/>
    </Header>
    <HoldingsList>
        <PreservationAgency>
            <PreservationAgencyName>Public Knowledge Project PLN</PreservationAgencyName>
        </PreservationAgency>
        {% for journal in journals %}
            {% set deposits = journal.getSentDeposits() %}
            {% if deposits|length > 0 %}
                <HoldingsRecord>
                    <NotificationType>00</NotificationType>
                    <ResourceVersion>
                        <ResourceVersionIdentifier>
                            <ResourceVersionIDType>07</ResourceVersionIDType>
                            <IDValue>{{ journal.issn }}</IDValue>
                        </ResourceVersionIdentifier>
                        <Title>
                            <TitleType>01</TitleType>
                            <TitleText>{{ journal.title }}</TitleText>
                        </Title>
                        <Publisher>
                            <PublishingRole>01</PublishingRole>
                            <PublisherName>{{ journal.publisherName }}</PublisherName>
                        </Publisher>
                        <OnlinePackage>
                            <Website>
                                <WebsiteRole>05</WebsiteRole>
                                <WebsiteLink>{{ journal.url }}</WebsiteLink>
                            </Website>
                            {% for deposit in deposits %}
                                <PackageDetail>
                                    <Coverage>
                                        <CoverageDescriptionLevel>03</CoverageDescriptionLevel>
                                        <SupplementInclusion>04</SupplementInclusion>
                                        <IndexInclusion>04</IndexInclusion>
                                        <FixedCoverage>
                                            <Release>
                                                <Enumeration>
                                                    <Level1>
                                                        <Unit>Volume</Unit>
                                                        <Number>{{ deposit.volume }}</Number>
                                                    </Level1>
                                                    <Level2>
                                                        <Unit>Issue</Unit>
                                                        <Number>{{ deposit.issue }}</Number>
                                                    </Level2>
                                                </Enumeration>
                                                <NominalDate>
                                                    <Calendar>00</Calendar>
                                                    <DateFormat>00</DateFormat>
                                                    <Date>{{ deposit.pubDate|date('Ymd') }}</Date>
                                                </NominalDate>
                                            </Release>
                                        </FixedCoverage>
                                    </Coverage>
                                    <PreservationStatus>
                                        <PreservationStatusCode>05</PreservationStatusCode>
                                        <DateOfStatus>{{deposit.depositDate|date('Ymd') }}</DateOfStatus>
                                    </PreservationStatus>
                                    <VerificationStatus>01</VerificationStatus>
                                </PackageDetail>
                            {% endfor %}
                        </OnlinePackage>
                    </ResourceVersion>
                </HoldingsRecord>
            {% endif %}
        {% endfor %}
    </HoldingsList>
</ONIXPreservationHoldings>
