{% extends '::base.html.twig' %}


{% block pageheader %}
    <h1>TermOfUse History</h1>
{% endblock %}

{% block body -%}

    <table class="records_list table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Created</th>
                <th>Keycode</th>
                <th>Langcode</th>
                <th>Content</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('termofuse_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.keyCode|preg_replace('/\\./', '&#8203;.')|raw }}</td>
                <td>{{ entity.langCode }}</td>
                <td>{{ entity.content }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('termofuse_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
