{% extends '::base.html.twig' %}


{% block pageheader %}
    <h1>TermOfUse List</h1>
{% endblock %}

{% block body -%}

    <div class="navigation">
        {{ knp_pagination_render(entities) }}
    </div>

    <table class="records_list table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Created</th>
                <th>Key code</th>
                <th>Language</th>
                <th>Content</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td><a href="{{ path('termofuse_show', { 'id': entity.id }) }}">{{ entity.keyCode|preg_replace('/\\./', '&#8203;.')|raw }}</a></td>
                <td>{{ entity.langCode }}</td>
                <td>{{ entity.content }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(entities) }}
    </div>

        <ul>
        <li>
            <a href="{{ path('termofuse_new') }}">
                Create a new entry
            </a>
        </li>
        <li>
            <a href="{{ path('termofuse_sort') }}">
                Sort the terms
            </a>
        </li>
    </ul>
    {% endblock %}
