{% extends '::base.html.twig' %}

{% block body -%}
    <h1>TermOfUse</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Weight</th>
                <td>{{ entity.weight }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ entity.created|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Keycode</th>
                <td>{{ entity.keyCode }}</td>
            </tr>
            <tr>
                <th>Langcode</th>
                <td>{{ entity.langCode }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ entity.content }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('termofuse') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('termofuse_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
