{% extends '::base.html.twig' %}

    
{% block pageheader %}
    <h1>TermOfUse</h1>
{% endblock %}
    
{% block body -%}
        <ul class="record_actions">
    <li>
        <a href="{{ path('termofuse') }}">
            <span class="glyphicon glyphicon-list"></span>
        </a>
    </li>

    <li>
        <a href="{{ path('termofuse_history', { 'id': entity.id }) }}" class="js-confirm" data-confirm="Are you sure you want to delete this term?">
            <span class='glyphicon glyphicon-time'></span>
        </a>
    </li>

    <li>
        <a href="{{ path('termofuse_edit', { 'id': entity.id }) }}">
            <span class='glyphicon glyphicon-edit'></span>
        </a>
    </li>

    <li>
        <a href="{{ path('termofuse_delete', { 'id': entity.id }) }}" class="js-confirm" data-confirm="Are you sure you want to delete this term?">
            <span class='glyphicon glyphicon-remove'></span>
        </a>
    </li>
</ul>

    <table class="record_properties table table-striped table-bordered table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Weight</th>
                <td>{{ entity.weight }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ entity.created|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Key code</th>
                <td>{{ entity.keyCode }}</td>
            </tr>
            <tr>
                <th>Language</th>
                <td>{{ entity.langCode }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ entity.content }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
