{% extends '::base.html.twig' %}


{% block pageheader %}
    <h1>Journal List</h1>
{% endblock %}

{% block body -%}

    <div class="navigation">
        {{ knp_pagination_render(entities) }}
    </div>

    <table class="records_list table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Issn</th>
                <th>Url</th>
                <th>Status</th>
                <th>Email</th>
                <th>Publisher</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('journal_show', { 'id': entity.id }) }}">{{ entity.title }}</a></td>
                <td>{{ entity.issn }}</td>
                <td><a href="{{ entity.url }}">{{ entity.url }}</a></td>
                <td>{{ entity.status }}</td>
                <td>{{ entity.email }}</td>
                <td> {% if entity.publisherUrl and entity.publisherName %}
                    <a href="{{ entity.publisherUrl }}">
                        {{ entity.publisherName }}
                    </a>
                    {% else %}
                        {{ entity.publisherName }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(entities) }}
    </div>

{% endblock %}
