{% extends '::base.html.twig' %}


{% block pageheader %}
    <h1>Journal Search</h1>
{% endblock %}

{% block body -%}

    <form method="get" action="{{path('journal_search')}}" class="form-horizontal">
        <fieldset>
            <legend>Search</legend>

            <div class='form-group'>
                <label class='col-sm-2 control-label' for='q'>Search term</label>
                <div class='col-sm-10'>
                    <div class='input-group'>
                        <input type='text' name='q' id='q' class='form-control' value='{{ q }}'>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <span class='glyphicon glyphicon-search'></span>
                                Search
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>

    {% if q != '' %}
        <p>Found {{ count }} results for <b> {{ q }} </b>.</p>

        <div class="navigation">
            {{ knp_pagination_render(entities) }}
        </div>

        <table class="records_list table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Issn</th>
                    <th>Url</th>
                    <th>Status</th>
                    <th>Email</th>
                    <th>Publisher</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>
                        <td><a href="{{ path('journal_show', { 'id': entity.id }) }}">{{ entity.title }}</a></td>
                        <td>{{ entity.issn }}</td>
                        <td><a href="{{ entity.url }}">{{ entity.url|preg_replace('~/~', '/&#8203;')|raw }}</a></td>
                        <td>{{ entity.status }}</td>
                        <td><a href='mailto:{{ entity.email }}'>{{ entity.email }}</a></td>
                        <td> 
                            {% if entity.publisherUrl and entity.publisherName %}
                                <a href="{{ entity.publisherUrl }}">
                                    {{ entity.publisherName }}
                                </a>
                            {% else %}
                                {{ entity.publisherName }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="navigation">
            {{ knp_pagination_render(entities) }}
        </div>

    {% endif %}
{% endblock %}


