{% extends '::base.html.twig' %}


{% block pageheader %}
    <h1>Journal</h1>
{% endblock %}

{% block body -%}
    <ul class="record_actions">
        <li>
            <a href="{{ path('journal') }}">
                <span class="glyphicon glyphicon-list"></span>
            </a>
        </li>

        <li>
            <a href="{{ path('journal_edit', { 'id': entity.id }) }}">
                <span class='glyphicon glyphicon-edit'></span>
            </a>
        </li>

        <li>
            <a href="{{ path('journal_delete', { 'id': entity.id }) }}" class="js-confirm" data-confirm="Are you sure you want to delete this journal?">
                <span class='glyphicon glyphicon-remove'></span>
            </a>
        </li>
    </ul>

    <table class="record_properties table table-striped table-bordered table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Deposits</th>
                <td><a href="{{ path('journal_deposits', { 'id' : entity.id }) }}">{{ entity.countDeposits }}</a></td>
            </tr>
            <tr>
                <th>Uuid</th>
                <td>{{ entity.uuid }}</td>
            </tr>
            <tr>
                <th>Contacted</th>
                <td>{{ entity.contacted|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Notified</th>
                <td>{{ entity.notified|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Whitelisted</th>
                <td>
                    {% if(blackwhitelist.isWhitelisted(entity.uuid)) %}
                        Yes
                    {% else %}
                        No
                    {%endif%}
                </td>
            <tr>
            <tr>
                <th>Blacklisted</th>
                <td>
                    {% if(blackwhitelist.isBlacklisted(entity.uuid)) %}
                        Yes
                    {% else %}
                        No
                    {%endif%}
                </td>
            <tr>
                <th>Issn</th>
                <td>{{ entity.issn }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td><a href="{{ entity.url }}">{{ entity.url }}</a></td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ entity.status }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td><a href="mailto:{{ entity.email }}">{{ entity.email }}</a></td>
            </tr>
            <tr>
                <th>Publishername</th>
                <td>{{ entity.publisherName }}</td>
            </tr>
            <tr>
                <th>Publisherurl</th>
                <td><a href="{{ entity.publisherUrl }}">{{ entity.publisherUrl }}</a></td>
            </tr>
        </tbody>
    </table>
{% endblock %}
