{% extends '::base.html.twig' %}


{% block pageheader %}
    <h1>Journal</h1>
{% endblock %}

{% block body -%}
    <div class="btn-toolbar">
        <div class="btn-group pull-right">
            <a href="{{ path('journal') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-arrow-left"></span> Back
            </a>
        </div>
    </div>

    <table class="record_properties table table-striped table-bordered table-hover">
        <tbody>
            <tr>
                <th>Uuid</th>
                <td>{{ entity.uuid }}</td>
            </tr>
            <tr>
                <th>Contacted</th>
                <td>{{ entity.contacted|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Notified</th>
                <td>
					{% if entity.notified %}
						{{ entity.notified|date('Y-m-d H:i:s') }}
					{% endif %}
				</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Issn</th>
                <td>{{ entity.issn }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td><a href="{{ entity.url }}">{{ entity.url }}</a></td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ entity.status }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td><a href="mailto:{{ entity.email }}">{{ entity.email }}</a></td>
            </tr>
            <tr>
                <th>Publisher Name</th>
                <td>{{ entity.publisherName }}</td>
            </tr>
            <tr>
                <th>Publisher Url</th>
                <td><a href="{{ entity.publisherUrl }}">{{ entity.publisherUrl }}</a></td>
            </tr>
            <tr>
                <th>Deposits</th>
                <td>
                    <a href="{{ path('journal_deposits', {'id': entity.id}) }}">
                        {{ entity.countDeposits() }}
                    </a>
                </td>
            </tr>    
        </tbody>
    </table>
{% endblock %}
