{% extends 'base.html.twig' %}

{% block body %}

    {% if not is_granted('ROLE_USER') %}
        <div class='jumbotron'>
            <h1>PKP Private LOCKSS Network</h1>
            <p>This is the administrative front-end for the PKP-PLN. End-users 
                wanting more information, or wanting to join the PLN 
                should check out <a href="http://pkp.sfu.ca/pkp-lockss">pkp.sfu.ca/pkp-lockss</a>. 
            </p>
        </div>
    {% else %}

        <div class='row'>
            <div class='col-md-6'>
                <div class='panel panel-default'>
                    <div class='panel-heading'>
                        <h3 class='panel-title'>New Journals</h3>
                    </div>
                    <div class='panel-body'>
                        <ul class='list-group'>
                            {% for journal in journals_new %}
                                <li class='list-group-item'>
                                    <a href='{{ path('journal_show', {'id': journal.id}) }}'>{{journal.title}}</a><br/>
                                    <a href='{{ journal.url }}'>{{journal.url}}</a><br/>
                                </li>
                            {% endfor %}
                        </ul>                        
                    </div>
                </div>
            </div>
            <div class='col-md-6'>
                <div class='panel panel-default'>
                    <div class='panel-heading'>
                        <h3 class='panel-title'>New Deposits</h3>
                    </div>
                    <div class='panel-body'>
                        <ul class='list-group'>
                            {% for deposit in deposits_new %}
                                <li class='list-group-item'>
                                    <a href='{{ path('deposit_show', {'id': deposit.id}) }}'>
                                        {{deposit.journal.title}} vol. {{ deposit.volume }} no. {{ deposit.issue }}
                                    </a><br/>
                                    Published {{ deposit.pubDate|date('D, d M Y') }}
                                </li>
                            {% endfor %}
                        </ul>                        
                    </div>
                </div>
            </div>
        </div>

        <div class='row'>
            <div class='col-md-6'>
                <div class='panel panel-default'>                        
                    <div class='panel-heading'>
                        <h3 class='panel-title'>Journal Statuses</h3>
                    </div>
                    <div class='panel-body'>
                        <ul class='list-group'>
                            {% for status in journal_summary %}
                                <li class='list-group-item'>
                                    <a href="{{path('journal', { 'status': status.status })}}">{{ status.status }}</a><span class='badge'>{{status.ct}}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class='col-md-6'>
                <div class='panel panel-default'>                        
                    <div class='panel-heading'>
                        <h3 class='panel-title'>Deposit Statuses</h3>
                    </div>
                    <div class='panel-body'>
                        <ul class='list-group'>
                            {% for status in deposit_summary %}
                                <li class='list-group-item'>
                                    <a href="{{path('deposit', { 'state': status.state })}}">{{ status.state }}</a><span class='badge'>{{status.ct}}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>


    </div>

{% endif %}



{% endblock %}
